<app-header></app-header>

<ion-content>
  <div class="header" routerLink="/page16">
    <ion-icon name="arrow-back-outline"></ion-icon>
    <span>Editar dados</span>
  </div>

  <div class="container">
    <div class="text">
      <span>Dados pessoais</span>
    </div>

    <div class="profile-info">
      <div class="info">
        <span>Nome:</span>
        <ion-input value="Andrew"></ion-input>
      </div>
      <div class="info">
        <span>Sobrenome:</span>
        <ion-input value="Souza"></ion-input>
      </div>
      <div class="info">
        <span>E-mail:</span>
        <ion-input value="andrewsousa@email.com"></ion-input>
      </div>
      <div class="info">
        <span>Celular:</span>
        <ion-input value="(91) 9 8456-7543"></ion-input>
      </div>
      <div class="info">
        <span>Telefone:</span>
        <ion-input value="91) 4 4486-7749"></ion-input>
      </div>
      <div class="info">
        <span>Endereço:</span>
        <ion-input value="Av.João Nunes, 52 Belém"></ion-input>
      </div>
    </div>

    <div class="buttons">
      <ion-button color="accent">Salvar</ion-button>
    </div>

    <div class="logo">
      <img src="../../../assets/logo.svg" alt="" />
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
