@import "../page6/page6.page.scss";

.container {
  .text-div {
    display: grid;
    margin: 1.8rem 0;

    span:nth-of-type(1) {
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      letter-spacing: -0.15px;
      color: #bbf300;
    }

    span:nth-of-type(2) {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: -0.8px;
    }
  }

  .input-radio {
    margin: 1.8rem 0;

    ion-label:nth-of-type(1) {
      margin-bottom: 1rem;
    }

    ion-radio-group {
      .inputs {
        display: flex;
        position: relative;
        gap: 1.7rem;
        top: 15px;
        left: 3px;

        ion-label {
          position: relative;
          left: 10px;

          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: -0.15px;

          color: #ffffff;
        }
      }

      span {
        position: relative;
        top: 20px;
      }
    }
  }

  .logo {
    margin: auto;
    max-width: 30%;
    margin-top: 2em;
  }

  .form {
    ion-label {
      color: #ffffff;
    }
  }
}

.form {
  padding: 0 5px;
}

@media screen and (min-width: 800px) {
  .container {
    .text-div {
      margin: 1rem 0.5rem;

      span:nth-of-type(1) {
        font-size: 11px;
      }

      span:nth-of-type(2) {
        font-size: 11px;
      }
    }

    .input-radio {
      margin: 1rem 0;

      ion-radio-group {
        .inputs {
          top: 15px;
          left: 3px;
          ion-label {
            left: 5px;
            font-size: 12px;
          }
        }

        span {
          position: relative;
          top: 20px;
        }
      }
    }

    .logo {
      max-width: 20%;
    }
  }
}
