@import '../page7/page7.page.scss';

.container {

    ion-label:nth-of-type(2),
    ion-label:nth-of-type(4) {
        position: relative;
        top: 5px;
    }

    ion-textarea {
        margin-bottom: 1rem;
    }

    .logo {
        margin-top: 5rem;
    }
}