<ion-footer>
  <ion-toolbar class="footer" color="accent">
    <div class="nav-icons">
      <img
        src="../../../assets/nav-icons/vector1.svg"
        alt=""
        [routerLink]="['/page4']"
        routerLinkActive="active"
      />
      <img
        src="../../../assets/nav-icons/vector2.svg"
        alt=""
        [routerLink]="['/page5']"
        routerLinkActive="active"
      />
      <img
        src="../../../assets/nav-icons/vector3.svg"
        alt=""
        [routerLink]="['/page11']"
        routerLinkActive="active"
      />
      <img
        src="../../../assets/nav-icons/vector4.svg"
        alt=""
        [routerLink]="['/page13']"
        routerLinkActive="active"
      />
      <img
        src="../../../assets/nav-icons/vector5.svg"
        alt=""
        [routerLink]="['/page15']"
        routerLinkActive="active"
      />
    </div>
  </ion-toolbar>
</ion-footer>
