<ion-header>
  <ion-toolbar class="header" color="accent">
    <img src="../../../assets/user-vector.svg" alt="user-profile" />
    <div class="nav-links" slot="end">
      <li [routerLink]="['/page4']" routerLinkActive="active">Início</li>
      <li [routerLink]="['/page5']" routerLinkActive="active">Solicitação</li>
      <li [routerLink]="['/page11']" routerLinkActive="active">Notificação</li>
      <li [routerLink]="['/page13']" routerLinkActive="active">Envios</li>
      <li [routerLink]="['/page15']" routerLinkActive="active">Perfil</li>
    </div>
  </ion-toolbar>
</ion-header>
