<ion-content>
  <main class="main">
    <div class="container">
      <div class="image-container">
        <img src="../../../assets/logo.svg" alt="evalue-logo" />
      </div>

      <div class="form-container">
        <div class="welcome-mssg">
          <span>Seja bem-vindo.</span>
          <span>Insira o seu e-mail para continuar.</span>
        </div>

        <div class="inputs">
          <ion-label>Informe seu nome</ion-label>
          <ion-input type="email" placeholder="Nome"> </ion-input>
          <ion-label>Informe seu e-mail</ion-label>
          <ion-input type="email" placeholder="Nome"> </ion-input>
        </div>

        <div class="buttons">
          <div>
            <ion-checkbox color="success"></ion-checkbox>
            <span>Li e concordo com as <span>POLÍTICAS DE PRIVACIDADE E TERMOS DE USO</span></span>
          </div>

          <div>
            <ion-button color="accent">Avançar</ion-button>
            <p>Possui um cadastro? <span routerLink="/page1">Acesse sua conta</span></p>
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>
