<app-header></app-header>

<ion-content>
  <div class="header">
    <span>Notificações</span>
  </div>

  <div class="container">
    <div class="notification-div">
      <div class="notification">
        <img src="../../../assets//ellipse2.png" alt="" />
        <p>
          Em 2003, atuou em “Piratas do Caribe”, no papel do capitão Jack
          Sparrow, que recebeu sua primeira indicação do Oscar de melhor ator.
          Em 2010 estrelou ao lado de Angelina Jolie, no filme de ação e
          suspense “O Turista”, onde foi indicado ao Golden Globe Awards e
          venceu o Redbox Movie Awards, como melhor ator em filme de ação.
        </p>
      </div>
      <div class="buttons">
        <ion-button color="accent">
          <ion-icon name="add-outline"></ion-icon>
          <span>Escrever</span>
        </ion-button>
      </div>
    </div>
    <div class="logo">
      <img src="../../../assets/logo.svg" alt="" />
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
