<app-header></app-header>

<ion-content>
    <div class="container">
      <div class="text">
        <span>Deixe a marca da sua</span>
        <span>empresa no mundo!</span>
        <span>
          Olá, seja bem-vindo(a) ao nosso app! Nele você pode solicitar
          orçamento, ter acesso a todos os seus cards produzidos pela nossa
          equipe, acompanhada e fazer novas solicitaçõies ao nosso time. Estamos
          prontos para lher <span>ajudar!</span>
        </span>
      </div>

      <div class="logo">
        <img src="../../../assets/logo.svg" alt="">
      </div>

      <div class="moca">
        <img src="../../../assets/moca.png" alt="">
      </div>
      
    </div>
</ion-content>

<app-footer></app-footer>
