<ion-content>
  <main class="main">
    <div class="container">
      <div class="image-container">
        <img src="../../../assets/logo.svg" alt="evalue-logo" />
      </div>

      <div class="form-container">
        <div class="text">
          <span>Digite o código</span>
          <span>que enviamos para o seu e-mail</span>
        </div>
      </div>

      <div class="form">
        <div class="inputs">
          <ion-input></ion-input>
          <ion-input></ion-input>
          <ion-input></ion-input>
          <ion-input></ion-input>
        </div>
        <div class="button">
          <ion-button color="accent" routerLink="/page4">Avançar</ion-button>
          <p>Reenviar código</p>
        </div>
      </div>
    </div>
  </main>
</ion-content>
