<app-header></app-header>

<ion-content>
  <div class="header">
    <span>Notificações</span>
  </div>

  <div class="container">
    <div class="notification-div">
      <div class="notification" routerLink="/page12">
        <img src="../../../assets/ellipse2.png" alt="" />
        <p>
          Viver é a coisa mais rara do mundo. A maioria das pessoas apenas
          existem
        </p>
      </div>
      <div class="notification" routerLink="/page12">
        <img src="../../../assets/ellipse2.png" alt="" />
        <p>
          Viver é a coisa mais rara do mundo. A maioria das pessoas apenas
          existem
        </p>
      </div>
      <div class="notification" routerLink="/page12">
        <img src="../../../assets/ellipse2.png" alt="" />
        <p>
          Viver é a coisa mais rara do mundo. A maioria das pessoas apenas
          existem
        </p>
      </div>
      <div class="notification" routerLink="/page12">
        <img src="../../../assets/ellipse2.png" alt="" />
        <p>
          Viver é a coisa mais rara do mundo. A maioria das pessoas apenas
          existem
        </p>
      </div>
      <div class="notification" routerLink="/page12">
        <img src="../../../assets/ellipse2.png" alt="" />
        <p>
          Viver é a coisa mais rara do mundo. A maioria das pessoas apenas
          existem
        </p>
      </div>
    </div>
    <div class="logo">
      <img src="../../../assets/logo.svg" alt="">
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
