<app-header></app-header>

<ion-content>
  <div class="header" routerLink="/page15">
    <ion-icon name="arrow-back-outline"></ion-icon>
    <span>Política de privacidade e termos de uso</span>
  </div>

  <div class="container">
    <p>Versão 1.0</p>
    <p>Introdução</p>

    <div class="terms">
      <p>
        Estes Termos de Serviço refletem a maneira como os negócios do Google
        funcionam, as leis que se aplicam à nossa empresa e determinados pontos
        em que sempre acreditamos. Como resultado, estes termos ajudam a definir
        a relação do Google com você na medida da sua interação com os nossos
        serviços. Por exemplo, estes termos incluem as seguintes seções:
      </p>

      <p>
        O que você pode esperar de nós, que descreve o modo como fornecemos e
        desenvolvemos nossos serviços. O que esperamos de você, que estabelece
        certas regras para usar nossos serviços. Conteúdo nos serviços do
        Google, que descreve os direitos de propriedade intelectual com relação
        ao conteúdo que você encontra nos nossos serviços, seja ele pertencente
        a você, ao Google ou a outras pessoas. Em caso de problemas ou
        discordâncias, que descreve outros direitos legais que você tem e o que
        esperar caso estes termos sejam violados Compreender estes termos é
        importante porque, para usar nossos serviços, você precisa aceitá-los.
      </p>

      <p>
        Além destes termos, também publicamos uma Política de Privacidade.
        Embora ela não faça parte destes termos, recomendamos que você a leia
        para entender melhor como pode atualizar, gerenciar e excluir suas
        informações.
      </p>
      
      <p>Termos de Uso do Ambiente do clinte</p>
      <p>
        Estes Termos de Serviço refletem a maneira como os negócios do Google
        funcionam, as leis que se aplicam à nossa empresa e determinados pontos
        em que sempre acreditamos. Como resultado, estes termos ajudam a definir
        a relação do Google com você na medida da sua interação com os nossos
        serviços. Por exemplo, estes termos incluem as seguintes seções:
      </p>
      <p>
        O que você pode esperar de nós, que descreve o modo como fornecemos e
        desenvolvemos nossos serviços. O que esperamos de você, que estabelece
        certas regras para usar nossos serviços. Conteúdo nos serviços do
        Google, que descreve os direitos de propriedade intelectual com relação
        ao conteúdo que você encontra nos nossos serviços, seja ele pertencente
        a você, ao Google ou a outras pessoas.
      </p>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
